.book.main {
  display: flex;
  gap: 3px;
  width: 80%;
  margin: 30px auto;
  aside {
    /* 전체화면에 50%만큼 픽셀로 고정하라? 
    calc 는 전체의 퍼센트를 픽셀로 변환한다
    */
    /* 화면 폭의 50% 에 해당하는 px 값을 계싼하여 width 로 설정하기
    overflow : hidden 이 설정에서 보여지는 content 를 제한하기 위한 설정 */
    width: calc(50%);
    padding: 1rem;
    background-color: #efefef;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #dfdfdf;
  }
  aside.list {
    display: flex;
    flex-direction: column;

    ul {
      list-style-type: none;
      li {
        padding: 8px;
        /* text(content) 에 보여지는 모양을 정리 */
        white-space: nowrap;
        overflow: hidden;
        /* 화면에 글자 넘어가면 ... 으로 표시 ellipsis */
        text-overflow: ellipsis;
        &:nth-of-type(odd) {
          background-color: #ddd;
        }
        &:hover {
          background-color: #ccc;
          cursor: pointer;
        }
      }
    }
  }
  aside.detail {
    flex: 3;
  }
}

div.book.search {
  padding: 10px;
  text-align: center;
  input {
    padding: 8px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    &:focus {
      border: 1px solid green;
    }
    &:hover {
      background-color: #ddd;
      cursor: pointer;
    }
  }
}
/* 800px 보다 작아지면 */
@media (max-width: 800px) {
  .book.main {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    aside {
      width: calc(90%);
    }
  }
}
